@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;

}

*{
  font-family: 'Cabin', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
::-moz-selection { /* Code for Firefox */
  
  color: white;
  background-color: rgb(253 224 71)
}

::selection {
  color: white;
  background-color: rgb(253 224 71)
}

.web-font{
  font-family: 'Titillium Web', sans-serif;
  /* font-family: 'Cabin', sans-serif; */


}
.redondo{
  position: absolute;
  z-index: -1;
  top: 20%;
  right: 0;
  left: 5%;
  bottom: 0;
  width: 90%;
  height: 55%;
  border-radius: 100%;
}
.redondo-num{
  
  font-size: 10rem;
  font-weight: 700;
}
.transition{
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 450ms;
}



/* photos  portfolio hover */

.figure {
  position: relative;
  
}

.image {
  display: block;
  
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  user-select: none;
  
}
.figure:hover{
  --tw-scale-x: 1.05;
    --tw-scale-y: 1.05;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.figure:hover .overlay {
  opacity: 1;
  
}

.text {
  color: white;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


/* inputs  */

.inputs{
  background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(0,0,0,.12);
    border-radius: 0;
    color: #000;
    padding-left: 0!important;
    font-size: 1.3rem;
    margin-top: 8px;
}
.inputs:focus{

  outline: none;
}